body {
  text-align: center;
  background: #f8e8a6;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.menu-items {
  padding: 0 12px;
  color: green;
}
